@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 18px;
}

a {
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-list {
    background-color: rgb(216, 211, 211);
    height: 70px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
}



.profile {
    display: flex;
    justify-content: space-around;
    width: 100%;

}



.picture {
    width: 150px;
    height: 150px;
}

.footer {
    background-color: rgb(216, 211, 211);
    height: 70px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-link {
    width: 50px;
    height: 50px;
}
.rss-link {
    width: 121px;
    height: 45px;
}